{% extends 'store/base.html' %}
{% load static %}

<!-- title -->
{% block title %}
<title>Sign in</title>
{% endblock title %}

{% block links %}
{% endblock links %}

{% block content %}
<style>
    .errorlist {
    color:red;
}

</style>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Sign in</h1>
                    <div class="mt-3">
                        <span style="color:#F28123">If you don`t have an account, please</span> <a href="{% url 'register' %}" style="color:#fff">sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-100 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-warning" style="width:100px;">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end products -->

{% include 'store/include_files/_logo_carousel.html' %}
{% endblock content %}