{% extends 'store/base.html' %}
{% load static %}

<!-- title -->
{% block title %}
<title>Shop</title>
{% endblock title %}

{% block links %}
{% endblock links %}


{% block content %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert"
                         style="border-radius:20px; font-family: 'Poppins', sans-serif; font-size:15px;">
                        {{ message }}
                        <button type="button" class="bi bi-x-circle" data-bs-dismiss="alert"
                                aria-label="Close"
                                style="border-radius:10px; background-color:#F28123; color:#fff; margin-left:10px;"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <p>Fresh and Organic</p>
                    <h1>Shop</h1>
                    <h2 style="color:#F28123; padding:20px;">Search - {{ search_name }}</h2>
                    {% if products %}
                    <h2 style="color:#fff;"><span style="color:#F28123">{{ products.count }}</span> was found</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end breadcrumb section -->
{% if products %}
<!-- products -->
<div class="product-section mt-100 mb-100">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <h3 style="color:#F28123">Categories:</h3>
                        <a href="{% url 'shop_page' %}">
                            <li>All</li>
                        </a>
                        {% for category in categories %}
                        <a href="{% url 'category' category.slug %}">
                            <li>{{ category }}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 text-center strawberry">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="{% url 'single_product_page' product.slug %}"><img src="{{ product.thumbnail.url }}"
                                                                                    alt=""
                                                                                    style="height:240px; "></a>
                    </div>
                    <h3>{{ product.title }}</h3>
                    <p class="product-price"><span>Per Kg</span> {{ product.price }}$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="row" style="margin-top:150px; margin-bottom:150px;">
            <div class="col-12 text-center">
                <div class="error-text">
                    <i class="far fa-sad-cry"></i>
                    <h1>Oops! No Results.</h1>
                    <a href="{% url 'home_page' %}" class="boxed-btn">Back to Home</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- end products -->


{% include 'store/include_files/_logo_carousel.html' %}

{% endblock content %}