{% extends 'store/base.html' %}
{% load static %}

<!-- title -->
{% block title %}
<title>Single Product</title>
{% endblock title %}

{% block links %}
{% endblock links %}

{% block content %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert"
                         style="border-radius:20px; font-family: 'Poppins', sans-serif; font-size:15px;">
                        {{ message }}
                        <button type="button" class="bi bi-x-circle" data-bs-dismiss="alert"
                                aria-label="Close"
                                style="border-radius:10px; background-color:#F28123; color:#fff; margin-left:10px;"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <p>See more Details</p>
                    <h1>Single Product</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src="{{ product.thumbnail.url }}" alt="" style="width:450px;">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>{{ product.title }}</h3>
                    <p class="single-product-pricing"><span>Per Kg</span> ${{ product.price }}</p>
                    <p>{{ product.description }}</p>
                    <div class="single-product-form">
<!--                        <form action="index.html">-->
<!--                            <input type="number" placeholder="0">-->
<!--                        </form>-->
                        <a href="{% url 'add_to_cart' product.slug %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        <p><strong>Categories: </strong>{{ product.category.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->

<!-- more products -->
<div class="more-products mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Related</span> Products</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet
                        beatae optio.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in related_products %}
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="{% url 'single_product_page' product.slug %}"><img src="{{ product.thumbnail.url }}"
                                                                                    alt="" style="height:240px;"></a>
                    </div>
                    <h3>{{ product.title }}</h3>
                    <p class="product-price"><span>Per Kg</span> {{ product.price }}$ </p>
                    <a href="{% url 'add_to_cart' product.slug %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- end more products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->

{% endblock content %}